/*~~~~~ metropoleHD responsive style ~~~~~*/
/************************/
/*@media(min-width:1400px) and (max-width:1920px) {
}*/
/************************/
/*@media(min-width:1200px) and (max-width:1400px) {
}*/
/************************/
/*@media(min-width:992px) and (max-width:1199px) {
}*/
/************************/
/*@media (max-width:800px) {
}*/
@media(min-width:768px) and (max-width:1050px) {
    #methods img{width: 100%}
    #presence h5 {padding-bottom: 30px;}
    #home #logo img{width: 45%}
    #sticky ul li{padding: 15px 15px}
    /*pages*/
    .page-title h1{font-size: 30px}
    .page-title {padding: 10em 0em;}
    .pages section {padding-top: 2em;}
    hr{margin-bottom: 2em}
    #about #keywords {padding: 4em 0em;}
    #about #keywords div{text-align: center;padding-bottom: 0em}
    #about #keywords h2{font-size: 20px;margin-top: 5px}
    .pages #navbar img{width: 110%}
    #navbar ul li {padding: 0px 10px;font-size: 14px;}
    #sticky ul li a {font-size: 14px;}
    #sticky{padding: 0px 10px}
    #sticky img{width: 100px}
    #sticky ul li {padding: 15px 10px;}
    #impact #display .content{top: 20px}
    #impact #display .vignette h5{font-size: 12px;padding-bottom: 0px}
    #impact #display .vignette p{font-size: 14px;line-height: 13px;padding-top: 0px}

    #impact #stat{padding: 0px}
    /*#impact #stat .number p{font-size: 35px}*/
    #impact #stat .sentence .fst{font-size: 25px;margin-bottom:10px;}
    #impact #stat .sentence .snd{font-size: 30px}
    #impact #stat1{padding: 0px}
    /*#impact #stat1 .number p{font-size: 35px}*/
    #impact #stat1 .sentence .fst{font-size: 25px;margin-bottom:10px;}
    #impact #stat1 .sentence .snd{font-size: 30px}

    hr{margin-bottom: 1em}
    #presence #main .site .item{max-height: 350px}
    #presence #main .site .item img{width: 60%}


}
@media(min-width:810px) and (max-width:815px) {
    /*pages*/
    .page-title h1{font-size: 25px}
    .page-title {padding: 7em 0em;}
    .pages section {padding-top: 2em;}
    hr{margin-bottom: 2em}
    #about #keywords {padding: 2em 0em;}
    #about #keywords div{text-align: center;padding-bottom: 0em}
    #about #keywords h2{font-size: 20px;margin-top: 5px}
    .pages #navbar img{width: 110%}
    #navbar ul li {padding: 0px 10px;font-size: 15px;}
    #sticky ul li a {font-size: 15px;}
    #sticky{padding: 0px 20px}
    #sticky img{width: 100px}
    #sticky ul li {padding: 15px 10px;}
    #quality #panels .fst-info .numbers {left: 22%;top: -20%;font-size: 80px;}
    #quality #panels .fst-info .desc{font-size: 20px}
    #quality #panels .snd-info .numbers {left:30%;}
    #quality #panels .snd-info .numbers {font-size: 60px}
    #quality #panels .thd-info .numbers{left: 30%;top: -6%;font-size: 50px}
    #quality #panels .thd-info .desc {left: 40%;top: 50%;font-size: 18px;}
    #presence #main .site .item{max-height: 300px}

}
/************************/
@media(max-width:740px) {
    #sticky{display: none !important}
    #navbar{display: none}  
    img{width: 100%}
    section{padding-top: 2em;padding-bottom: 2em;}
    h1 {color: #fc4236;font-size: 20px;}
    h3 {color: #fc4236;font-size: 15px;padding-bottom: 10px;}
    h4 {font-size: 12px;padding:5px 10px;}
    h5 {font-size: 17px;padding-bottom: 20px}
    h6 {font-size: 19px;padding-bottom: 0px}
    h7 {font-size: 12px;padding-bottom: 5px}
    p {font-size: 14px;}
    #home{padding-top: 60px}
    #home #logo {padding: 10px 0px 50px 0px;}
    #home #logo p {font-size: 12px;}
    #home h2 {font-size: 18px;padding: 40px 0px 40px 0px;}
    #home #logo img{width: 70%} 
    #solution img{width: 70%}
    #solution h3{font-size: 14px}
    #solution p{font-size: 14px;line-height: 18px}
    #solution .solution-icons{padding: 15px 0px}
    #solution #solution-icons div{padding-left: 0px; padding-right: 0px}
    #methods #impact {padding: 20px 10px;}
    #methods #impact img{padding-bottom: 20px;}
    #presence #poles{padding: 0px 60px;}
    #presence h5{font-size: 12px}
    #footer img{width: 70%}
    #footer ul li a {font-size: 10px;}
    #footer #social-links{padding-top: 80px}
    #footer #social-links ul li img{width: 60%;}
    #customers #customer-logos div{padding-top: 30px}
    #customers #customer-logos .little-pad{padding-top: 25px}
    #mobile-header{visibility: hidden;width: 45%}
    #mobile-menu-open{visibility: visible;}
    /*pages*/
    .page-title h1{font-size: 25px}
    .pages section {padding-top: 2em;}
    hr{margin-bottom: 2em}
    #about #keywords {padding: 2em 0em;}
    #about #keywords div{text-align: center;padding-bottom: 0em}
    #about #keywords h2{font-size: 15px;margin-top: 5px}
    #clients h3{font-size: 28px;padding-bottom: 2em}
    #clients h4{font-size: 20px}
    #impact #display .vignette{padding-bottom: 3em}
    #impact #stat{padding: 0px}
    #impact #stat .number p{font-size: 35px}
    #impact #stat .sentence{padding: 0px; text-align: left !important}
    #impact #stat .sentence .fst{font-size: 10px;margin-bottom:0px;}
    #impact #stat .sentence .snd{font-size: 13px}
    #impact #stat1{padding: 0px}
    #impact #stat1 .number p{font-size: 35px}
    #impact #stat1 .sentence{padding: 0px; text-align: left !important}
    #impact #stat1 .sentence .fst{font-size: 10px;margin-bottom:0px;}
    #impact #stat1 .sentence .snd{font-size: 12px}
    .pages h4{font-size: 15px}
    #offers #point{padding: 1em}
    .center{padding-top: 4em}
    #quality #panels h5{padding-bottom: 1em;font-size: 20px}
    #pictos img {width: 25%}
    #pictos .picto-left p{display: none;}
    #pictos .picto-right p{display: none;}
    .picto-left-after img, .picto-right-after img{width: 80% !important}
    #pictos .desc{font-size: 12px !important}
    #pictos p{font-size: 15px !important}
    #solutions #main h3{font-size: 15px !important}

    #clients #main .site .item{max-height: 150px}
    .owl-prev{left: 0%}
    .owl-next{right: 0%}
    #clients #main{padding-bottom: 5em}
    #clients #customer-logos-mobile{display: block !important;}
    #customer-logos{display: none !important;}
    #customer-logos-mobile .plus-pad{padding-top: 30px}
    #customer-logos-mobile .item img{width: 50% !important}
}
/************************/
@media(min-width:630px) and (max-width:750px) {
    #footer img{width: 40%}
    #footer #footer-elem {padding: 30px 50px 200px 50px;}   
    h6 {font-size: 25px;}
    #footer ul li a {font-size: 16px;}
    #solution img {width: 45%;}
    #methods img {width: 50%;}
    #customers #customer-logos img {margin-bottom: 20px;width: 40%}
    /*pages*/
    .page-title{padding: 5em 0em}
    #quality #panels .fst-info img{width:30%;}
    #quality #panels .snd-info img{width: 25%}
    #quality #panels .thd-info img{width: 20%}
    #quality #panels .fst-info .numbers {left: 38%;top: -20%;font-size: 120px;}
    #quality #panels .snd-info .numbers {left:40%;}
    #quality #panels .thd-info .numbers{left: 42%}

    #impact #display img{width: 40%}
    #impact #display .content {width: 35%;left: 32.5%;top: 10px;}
    #impact #display .vignette h5{font-size: 15px;padding-bottom: 0em !important}
    #impact #display .vignette p{font-size: 10px}
    #presence #main .item img{width: 55%}
    #presence #main .site .item{max-height: 200px}
}
/************************/
@media(max-width:568px) {
    /*.page-title{padding:5em 0em;}*/
}
/************************/
@media(max-width:440px) {
    /*Backgrounds*/
    #about #home{background: url('../img/bg/mobile/solutions-bg.jpg') no-repeat #fff;}
    #impact #home{background: url('../img/bg/mobile/impact-bg.jpg') no-repeat #fff;}
    #offers #home{background: url('../img/bg/mobile/offres-bg.jpg') no-repeat #fff;}
    #clients #home{background: url('../img/bg/mobile/clients-bg.jpg') no-repeat #fff;}
    #presence #home{background: url('../img/bg/mobile/presence-bg.jpg') no-repeat #fff;}
    #quality #home{background: url('../img/bg/mobile/qualite-bg.jpg') no-repeat #fff;}
}
/************************/
@media(max-width:320px) {
    h1 {font-size: 18px;}
    h3 {font-size: 13px;padding-bottom: 8px;}
    h4 {font-size: 10px;}
    h5 {font-size: 15px;padding-bottom: 15px}
    h6 {font-size: 17px;}
    h7 {font-size: 10px;}
    p {font-size: 14px;}  
    #home #logo p {font-size: 10px;}
    #home h2 {font-size: 15px;}

    #impact #stat .sentence .fst{font-size: 9px;margin-bottom:0px;}
    #impact #stat .sentence .snd{font-size: 10px}
    #impact #stat1 .sentence .fst{font-size: 9px;margin-bottom:0px;}
    #impact #stat1 .sentence .snd{font-size: 10px}

    #impact #display .vignette h5{font-size: 15px}
    #impact #display .vignette p{font-size: 10px}
}

